body 
{
    /*background-color:#6a6a6a;*/

}

#page
{
    height: 100%;
    width: 100%;
    min-height: 100%;
    bottom:0px;
    left:0px;
    position:absolute;
    
    background-image: linear-gradient(bottom, #DEDEDE 0%, #6A6A6A 100%, #6A6A6A 100%);
background-image: -o-linear-gradient(bottom, #DEDEDE 0%, #6A6A6A 100%, #6A6A6A 100%);
background-image: -moz-linear-gradient(bottom, #DEDEDE 0%, #6A6A6A 100%, #6A6A6A 100%);
background-image: -webkit-linear-gradient(bottom, #DEDEDE 0%, #6A6A6A 100%, #6A6A6A 100%);
background-image: -ms-linear-gradient(bottom, #DEDEDE 0%, #6A6A6A 100%, #6A6A6A 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #DEDEDE),
	color-stop(1, #6A6A6A),
	color-stop(1, #6A6A6A)
);
}

#header
{
    margin-top: 20px;
    width: 100%;
}
#logo
{
    width: 100%;
    text-align: center;
}
#tagline
{
    color:#FFF;
    font-weight: bolder;
    font-family:Sans-Serif;
    font-style:oblique;
    font-size: 1.2em;
    margin-top:20px;
    width: 100%;
    text-align: center;
}
#tagline a 
{
    text-decoration:none;
    color: #FFF;
}
#footer
{
    font-size:0.6em;
    margin-top:60px;
    width: 100%;
    color:#fff;
    text-align:center;
    
}