/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
@import url("PublicSite.css");
/*not in publicsite*/
span.button a
{
    color: #FFFFFF;
    font-size:1.2em;
    font-style:italic;
    font-weight:bolder;
    text-transform:uppercase;
    text-decoration:none;
    border-style:solid;
    border-width:1px;
    padding: 5px;
    background-color: Gray;
}

/* Styles for the events page 
-------------------------------------------------------*/
#eventlist
{
    list-style: none;
}

.eventlistitem a
{
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    background-color: transparent;/*//#E0E0E0;*/
    border-left: 4px solid #404040;
    padding: 5px;
    padding-top:2px;
    padding-bottom:2px;
}

.eventlistitem a:visted
{
    color: #000;
}

.eventlistitem a:hover
{
    padding:0px 3px 0px 3px;
        border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-left-width: 4px;
    background-color: #C9F781;/*#BCF564;*/
}

.eventlistitem .header
{
    text-decoration:underline;
    margin-bottom: 4px;
}

#manageevents
{
    width: 50%;
}

/* Styles for the messages page */
/*---------------------------------------------------------*/
#messagelist
{
    list-style: none;
}

.messagelistitem a
{
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    background-color: transparent; /*#E0E0E0;*/
    border-left: 4px solid #404040;
    padding: 5px;
    padding-top:2px;
    padding-bottom:2px;
}

.messagelistitem a:visted
{
    color: #000;
}

.messagelistitem a:hover
{
    padding:0px 3px 0px 3px;
        border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-left-width: 4px;
    background-color: #C9F781;
}

.messagelistitem .header
{
    text-decoration:underline;
    margin-bottom: 4px;
    text-transform:capitalize;
}

#managemessages
{
    width: 50%;
}



/* Styles for the dashboard page
---------------------------------------------------------*/

#dashboard
{
    width: 100%;
    border-style: none;
}
#dashboard tr td
{
    text-align: left;
    vertical-align: top;
    border-style: none;
    /*border-color: #F4F5F7;
    border-width: 10px;*/
    width: 45%;
    padding-right: 10px;
    padding-left: 10px;
    /*background-color: Aqua;*/
}

#dashboard tr td h3
{
    border-bottom: 1px solid black;
}

#calendar
{
    background-color:#FFFFFF;
    width:100%;
    padding: 5px;
    border-color: Black;
    border-style: solid;
}
#calendar tr td
{
    width:auto;
}


/* Styles for create forms
-------------------------------------------*/
.createform
{
    border-style:none;
}
.createform tr td
{
    border-style:none;
}

.createform .textinput
{
    width: 250px;
}

.createform .dateinput
{
    width: 75px;
}

.createform .timeinput
{
    width: 60px;
}

.createform .timeinput .ampm
{
    width: 15px;
}

.createform .longtext
{
    width: 250px;
    height: 100px;
}

.createform .numberinput
{
    width: 45px;
}

.createform .header
{
 font-weight:bold;
}
