/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #6a6a6a;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight:normal;
    /*
    kuler theme:
    #0084B0;
    #009694;
    #35AB57; -BASE
    #8AB833;
    #BCF564;
    */
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 0px 0;
    margin-bottom: 15px;
    /*text-align:center;*/
}
h3
{
    font-size: 1.2em;
}

.pageheader
{
    border:none;
}

h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #000;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #BCF564;
    margin-bottom: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /*border-top-right-radius: 10px;*/
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
    -webkit-box-shadow: 3px 3px 8px 3px #333333;
    -moz-box-shadow: 3px 3px 8px 3px #333333;
    box-shadow: 3px 3px 8px 3px #333333;
    line-height:1.5; 
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

#footer a
{
    color: #034af3;
}

#footer a:visited
{
    color: #034af3;
}

/*EMPHASIS LAYOUT ELEMENTS
-----------------------------------------------*/
.tagline
{
    font-size: 1.25em;
    border-top:2px solid #999999;
    border-bottom:2px solid #000;
    padding: 5px;
    text-align: center;
    background-color: #C9F781;
    /*border-bottom-right-radius: 8px;
    border-bottom-left-radius:8px;
    border-top-right-radius:8px;
    border-top-left-radius:8px;*/
    margin-left:-30px;
    width: 104.7%;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 2px 2px #333333;
    -moz-box-shadow: 0px 2px 2px 2px #333333;
    box-shadow: 0px 2px 2px 2px #333333; 
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 4px 4px 0px 4px;
    position: relative;
    margin: 0;
    top: 2px;
    text-align: right;
}

#menucontainer
{
    position: relative;
    margin-top:40px;
    /*
background-image: linear-gradient(bottom, #0084B0 23%, #009492 79%);
background-image: -o-linear-gradient(bottom, #0084B0 23%, #009492 79%);
background-image: -moz-linear-gradient(bottom, #0084B0 23%, #009492 79%);
background-image: -webkit-linear-gradient(bottom, #0084B0 23%, #009492 79%);
background-image: -ms-linear-gradient(bottom, #0084B0 23%, #009492 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.23, #0084B0),
	color-stop(0.79, #009492)
);*/
    border-top: 0px solid #0084B0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -4px;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #000;
}


ul#menu li div
{
    border: 1px solid #BCF564;
    border-bottom: 0px;
    padding: 8px 4px;
    background-color: #BCF564;
    display: inline;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}


ul#menu li div a
{


    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #BCF564;
    color: #034af3;
}

ul#menu li div:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border-style:none;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

div#title
{
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    text-indent:-9999px;
    display:block;
    float:left;
    text-align:left;
    width:290px;
    height:90px;
}

div#title a
{
    color: #000;
    text-decoration: none;
}
div#title a:visited
{
    color: #000;
    text-decoration: none;
}
div#title a:hover
{
    color: #898989;
    text-decoration: none;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;

    margin:10px;
    color:#404040;
    
    display:block;
    
 }

#logindisplay a:link
{
    color: #404040;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #404040;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #404040;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}


/*HOMEPAGE STYLES
---------------------------------------------------------------------*/

#buttons
{
    width: 80%;
    overflow:hidden;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    
}

#buttons a
{
    text-decoration: none;
}

#buttons #text
{
    float:left;
    margin-left:9%;
    margin-top:10px;
    font-size: 1.5em;
}

#buttons a:visisted
{
    color:#242424;
}

#aboutbutton
{
    float:left;
}

#tourbutton
{
    float:left;
}

#contactbutton
{
    float:left;
}


/* CSS BUTTON STYLES 
-----------------------------------------------*/
.cssbutton_big {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3e3e3), color-stop(1, #a19fa1) );
	background:-moz-linear-gradient( center top, #e3e3e3 5%, #a19fa1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#a19fa1');
	background-color:#e3e3e3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #cccccc;
	display:inline-block;
	/*color:#333333;*/
	color: #0000FF;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 43px;
	margin-left: 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f7f7f7;
}
.cssbutton_big:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a19fa1), color-stop(1, #e3e3e3) );
	background:-moz-linear-gradient( center top, #a19fa1 5%, #e3e3e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a19fa1', endColorstr='#e3e3e3');
	background-color:#a19fa1;
}
.cssbutton_big:active {
	position:relative;
	top:1px;
}
.cssbutton_big:visited
{
    /*color:#333333;*/
    color: #0000FF;
    text-decoration:none;
}

.cssbutton_med {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3e3e3), color-stop(1, #a19fa1) );
	background:-moz-linear-gradient( center top, #e3e3e3 5%, #a19fa1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#a19fa1');
	background-color:#e3e3e3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #cccccc;
	display:inline-block;
	/*color:#333333;*/
	color: #0000FF;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:8px 25px;
	margin-left: 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f7f7f7;
}
.cssbutton_med:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a19fa1), color-stop(1, #e3e3e3) );
	background:-moz-linear-gradient( center top, #a19fa1 5%, #e3e3e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a19fa1', endColorstr='#e3e3e3');
	background-color:#a19fa1;
}
.cssbutton_med:active {
	position:relative;
	top:1px;
}
.cssbutton_med:visited
{
    color: #0000FF;
    text-decoration:none;
}

.cssbutton_small {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3e3e3), color-stop(1, #a19fa1) );
	background:-moz-linear-gradient( center top, #e3e3e3 5%, #a19fa1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#a19fa1');
	background-color:#e3e3e3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #cccccc;
	display:inline-block;
	/*color:#333333;*/
	color: #0000FF;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 15px;
	margin-left: 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f7f7f7;
}
.cssbutton_small:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a19fa1), color-stop(1, #e3e3e3) );
	background:-moz-linear-gradient( center top, #a19fa1 5%, #e3e3e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a19fa1', endColorstr='#e3e3e3');
	background-color:#a19fa1;
}
.cssbutton_small:active {
	position:relative;
	top:1px;
}
.cssbutton_small:visited
{
    /*color:#333333;*/
    color: #0000FF;
    text-decoration:none;
}