/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
@import url("PublicSite.css");
/*not in publicsite*/
span.button a
{
    color: #FFFFFF;
    font-size:1.2em;
    font-style:italic;
    font-weight:bolder;
    text-transform:uppercase;
    text-decoration:none;
    /*border-style:solid;
    border-width:1px;*/
    padding: 5px;
    /*background-color: Gray;*/
}

#main
{
    margin-top: 0px;
}

/* Styles for the events page 
-------------------------------------------------------*/
#eventlist
{
    list-style: none;
}

.eventlistitem a
{
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    background-color: transparent;/*//#E0E0E0;*/
    border-left: 4px solid #404040;
    padding: 5px;
    padding-top:2px;
    padding-bottom:2px;
}

.eventlistitem a:visted
{
    color: #000;
}

.eventlistitem a:hover
{
    padding:0px 3px 0px 3px;
        border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-left-width: 4px;
    background-color: #C9F781;/*#BCF564;*/
}

.eventlistitem .header
{
    text-decoration:underline;
    margin-bottom: 4px;
}

.createeventlink
{
    font-size: 1.3em;
    margin-left: 30%;
    margin-top: 10px;
}

/* Styles for the messages page */
/*---------------------------------------------------------*/
#messagelist
{
    list-style: none;
}

.messagelistitem a
{
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    background-color: transparent; /*#E0E0E0;*/
    border-left: 4px solid #404040;
    padding: 5px;
    padding-top:2px;
    padding-bottom:2px;
}

.messagelistitem a:visted
{
    color: #000;
}

.messagelistitem a:hover
{
    padding:0px 3px 0px 3px;
        border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-left-width: 4px;
    background-color: #C9F781;
}

.messagelistitem .header
{
    text-decoration:underline;
    margin-bottom: 4px;
    text-transform:capitalize;
}

#managemessages
{
}

.createmessagelink
{
    font-size: 1.3em;
    margin-left: 30%;
    margin-top: 10px;
}

/* Styles for Feedback Page */
#feedbacklist
{
    list-style: none;
}

.feedbacklistitem a
{
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    background-color: transparent; /*#E0E0E0;*/
    border-left: 4px solid #404040;
    padding: 5px;
    padding-top:2px;
    padding-bottom:2px;
}

.feedbacklistitem a:visted
{
    color: #000;
}

.feedbacklistitem a:hover
{
    padding:0px 3px 0px 3px;
        border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-left-width: 4px;
    background-color: #C9F781;
}

.feedbacklistitem .header
{
    text-decoration:underline;
    margin-bottom: 4px;
    text-transform:capitalize;
}

#managefeedbacks
{
}

.createfeedbacklink
{
    font-size: 1.3em;
    margin-left: 30%;
    margin-top: 10px;
}




/* Styles for the dashboard page
---------------------------------------------------------*/

#dashboard
{
    width: 100%;
    border-style: none;
}
#dashboard tr td
{
    text-align: left;
    vertical-align: top;
    border-style: none;
    /*border-color: #F4F5F7;
    border-width: 10px;*/
    width: 45%;
    padding-right: 10px;
    padding-left: 10px;
    /*background-color: Aqua;*/
}

#dashboard tr td h3
{
    border-bottom: 1px solid black;
}

#calendar
{
    background-color:#FFFFFF;
    width:100%;
    padding: 5px;
    border-color: Black;
    border-style: solid;
}
#calendar tr td
{
    width:auto;
}

#dashboardbuttons
{
    margin-left: 10px;
}

#dashboardbuttons a
{
    text-decoration:none;
}

#dashboardbuttons span
{
    font-size: 1.15em;
    font-weight:bold;
}


/* Styles for create forms
-------------------------------------------*/

.createform
{
    width: 100%;
    overflow:hidden;
}

.createform a
{
    text-decoration:none;
}

.createform .rightcol
{
    float:right;
    width: 48%;
    margin-right:auto;
}

.createform .leftcol
{
    float:left;
    width: 48%;
    margin-left:auto;
    
}

.createform .leftcol .itemtable
{
    border-right: 2px solid black;
}

.createform .itemtable
{
    width: 100%;
    margin-bottom: 10px;
    border-style:none;
}

.createform .itemtable tr td
{
    border-style:none;
}

.createform .itemtable .itemheader
{
 font-weight:bold;
}

.createform .itemtable .textinput
{
    width: 250px;
}

.createform .itemtable .dateinput
{
    width: 75px;
}

.createform .itemtable .timeinput
{
    width: 60px;
}

.createform .itemtable .timeinput.ampm
{
    width: 45px;
}

.createform .itemtable .longtext
{
    width: 400px;
    height: 100px;
}

.createform .itemtable .numberinput
{
    width: 45px;
}


.createform .formheader
{
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.createform .subheader
{
    font-size: 1.15em;
    font-weight: bold;
    background-color: #96C448;
    padding: 3px;
}

.createform #submitdiv
{
    margin-top: 10px;
    width: 100%;
    text-align:center;
    float:left;
    margin-bottom: 50px;
}

.createform .submitbutton
{
    /*background-color: #aaaaaa;
    font-size: 1.4em;
    border-style:outset;*/
}

.createform .hide
{
    display:none;
}

.createform button
{
    background:transparent;
    border-style:none;
    text-decoration:none;
}